<section id="404">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Error 404 - Page not Found!</h2>
                <hr class="primary">
                <p>Oh, snap! Clearly, this is not the page you're looking for. The page may have been renamed or removed.</p>
            </div>
        </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <p>Were you trying to find one of the following?</p>
        <div style="display: inline-block; text-align: left">
            <ul class="text-muted">
                <li>What's going on: <a href="http://www.wichitalks.com/#events">Events</a></li>
                <li>Who's talking it up: <a href="http://www.wichitalks.com/#speakers">Speakers</a> or <a href="http://www.wichitalks.com/previous.html">Alumni</a></li>
                <!-- <li>Who's supporting us: <a href="http://www.wichitalks.com/#sponsor.html">Sponsor</a></li>
                <li>How to help: <a href="http://www.wichitalks.com/#volunteer.html">Volunteer</a></li> -->
            </ul>
          </div>
        <p>You can also use your browser's back button to return to your previous page or go <a href="http://www.wichitalks.com">home</a> to start again.</p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div id="contact">
      <div class="container text-center">
        <div class="row">
          <p>Questions or Comments? We'd love to hear from you!</p>
            <div class="col-lg-3 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.twitter_username }}</p>
              </a>
            </div>
            <div class="col-lg-3 text-center">
              <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
              <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.facebook_username }}</p>
              </a>
            </div>
            <div class="col-lg-3 text-center">
              <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.github_username }}</p>
              </a>
            </div>
            <div class="col-lg-3 text-center">
              <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.email }}</p>
              </a>
            </div>
        </div>
      </div>
    </div>
</section>
