<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="section-heading">{{ site.description }}</h2>
                <hr class="light">
                <p style="text-align: center;">
                    Wichitalks is an event that brings together passionate individuals, high-performers, creative minds, and an audience of active listeners for an evening of diverse presentations and collisions. We look to surface unique perspectives, passion projects, and compelling stories that can add value to our community.
                    <br><br>
                    At every event, ten handpicked individuals share a 5-minute presentation on a powerful idea of their choosing. With only 20 slides, each auto-advancing every 15 seconds, presentations are brief, fun, insightful, and passionately delivered.
                    <br><br>
                    We hope you’ll join us.
                </p>
                <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/79KHTTtu1dA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <br>
                <div class="text-center">
                    <a href="#events" class="btn btn-default btn-xl page-scroll">So, when is it?</a>
                </div>
            </div>
        </div>
    </div>
</section>
