<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is Wichitalks?</h2>
                <hr class="light">
                <p style="text-align: justify;">
                    Wichitalks brings together the passionate individuals, high-performers, and creative minds in our community to present on what drives them. It provides a glimpse into the greater Wichita identity. At each event, 10 individuals present in a rapid-fire environment, one after the next. With only 20 slides, each auto-advancing every 15 seconds, presentations are brief, fun, insightful, and passionately delivered. Wichitalks is an evening of eclectic presentations, inciting ideas and creative collisions that wouldn’t have otherwise happened. Absolutely no pitches are allowed. Presenters are individuals in Wichita who have a passion to share. They may be business owners, volunteers, or life-hackers. The goal is to teach something of social value and spread ideas.
                </p>
                <p>
                    So, if you'd like to learn more about the people in your city, Wichitalks is a great place to start.<br><br>We hope to see you there.
                </p>
                <a href="#guidelines" class="btn btn-default btn-xl page-scroll">How does it work?</a>
            </div>
        </div>
    </div>
</section>
