<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is Wichitalks?</h2>
                <hr class="light">
                <p class="text-faded">
                    Have you ever wanted to get the pulse of a city? To slice through it and look at a cross section?<br><br>
                    You know, to see the composition.<br><br>
                    Wichita is defined by the passions and actions of the individuals who make it up. <br><br>
                </p>
                <hr class="light">
                <p class="text-faded">
                    Absolutely no pitches are allowed. Presenters are individuals in Wichita who have a passion to share. They may be business owners, volunteers, or life-hackers. The goal is to teach something of social value and to spread ideas.<br><br>
                    So, if you'd like to learn more about your city, Wichitalks is a great place to start.
                </p>
                <a href="#events" class="btn btn-default btn-xl page-scroll">When is it?</a>
            </div>
        </div>
    </div>
</section>
