<section id="contact" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stay Connected With Us!</h2>
                <hr class="primary">
                <p>Follow Wichitalks on social media to keep up with what's happening. Send us an email if you have any comments or suggestions, or if you want to be involved.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- Insert Email Signup Link Here -->
                <!-- Begin MailChimp Signup Form -->
                    <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; color: black; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="//wichitalks.us14.list-manage.com/subscribe/post?u=9bee36d279ae536f6069559f7&amp;id=be34ddd4bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2 class="lead">Let us remind you when Wichitalks is doing something cool.</h2>
                                <div class="form-group">
                                    <label for="mce-EMAIL" class="hide">Email Address</label>
                                    <div class="input-group">
                                        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
                                        <span class="input-group-btn">
                                            <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                                Subscribe
                                            </button>
                                        </span>
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9bee36d279ae536f6069559f7_be34ddd4bc" tabindex="-1" value=""></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='number';fnames[4]='MMERGE4';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
            </div>
        </div>
        <br>


        <div class="row text-center">
            <div class="col-xs-4 col-md-2">
                <a href="https://twitter.com/{{ site.twitter }}">
                    <i class="fa fa-twitter-square fa-3x wow bounceIn twitter" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="https://facebook.com/{{ site.facebook }}">
                    <i class="fa fa-facebook-square fa-3x wow bounceIn facebook" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="https://github.com/{{ site.github }}">
                    <i class="fa fa-github-square fa-3x wow bounceIn github" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="https://instagram.com/{{ site.instagram }}">
                    <i class="fa fa-instagram fa-3x wow bounceIn instagram" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="https://linkedin.com/company/{{ site.linkedin }}">
                    <i class="fa fa-linkedin-square fa-3x wow bounceIn linkedin" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-square fa-3x wow bounceIn email" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>


    </div>
</section>
