  <section class="bg-dark" id="events">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Wichitalks at WSU</h2>
              <h3>by Shocker Startup</h3>
              <h3>September 16</h3>
              <h4>Doors at 6. Talks at 7.</h4>
              <p>
                <br>
                Join us at
                <a href="https://www.google.com/maps/place/Rhatigan+Student+Center/@37.719422,-97.2958555,17z/data=!4m8!1m2!2m1!1sRhatigan+Student+Center+-+Beggs+Ballroom!3m4!1s0x0000000000000000:0x981a6a2aac7c2694!8m2!3d37.717487!4d-97.2944612" target="_blank">Beggs Ballroom</a>
                for an evening of passion and connection!<br><br>
                Attendance is free, but space is limited!
              </p>
          </div>
      </div>
      <!-- Eventbrite ticket integration -->
      
      <div style="width:100%; text-align:center;" >
        <iframe  src="//eventbrite.com/tickets-external?eid=26132906226&ref=etckt" frameborder="0" height="300" width="95%" vspace="0" hspace="0" marginheight="0" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>

      <div class="container text-center">
          <p>Everyone helping to organize Wichitalks volunteers their time. All proceeds help cover the venue costs, video editing, photography, marketing, and misc event costs that contribute to a successful evening experience.</p>
      </div>
  </section>
