  <section class="bg-dark" id="events">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Wichitalks at WSU</h2>
              <h3>by Shocker Startup</h3>
              <h3>September 16</h3>
              <h4>Doors at 6. Talks at 7.</h4>
              <p>
                <br>
                Join us at
                <a href="https://www.google.com/maps/place/Donald+L.+Beggs+Hall/@37.717661,-97.2934466,17z/data=!3m1!4b1!4m5!3m4!1s0x87bae2e6940207fd:0x2500ccaaf91f6f74!8m2!3d37.717661!4d-97.2912526" target="_blank">Beggs Hall</a>
                for an evening of passion and connection!<br><br>
                Attendance is free, but space is limited!
              </p>
          </div>
      </div>
      <!-- Eventbrite ticket integration -->
      
      <div style="width:100%; text-align:center;" >
        <iframe  src="//eventbrite.com/tickets-external?eid=26132906226&ref=etckt" frameborder="0" height="300" width="95%" vspace="0" hspace="0" marginheight="0" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>

      <div class="container text-center">
          <p>All proceeds help cover the venue costs, video editing, photography, marketing, and help fund other Startup Wichita community events.</p>
      </div>
  </section>
