<section class="bg-dark" id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">

        <!-- Between events text -->

        <h2 class="section-heading">Wichitalks 2018</h2>
        <hr>
        <p style="text-align: justify;">Thank you for supporting Wichitalks at Roxy's this past March; we had a blast. Stay in touch for the announcement of the next event. In the meantime, check out our <a href="/previous">Alumni</a> and sign up for the <i><a class="page-scroll" href="#contact">announcement-letter</a></i> at the bottom of the page!</p>

        <!-- End Between events text -->

        <!--
            <h2>Wichitalks at Roxy's</h2>
            <h3>March 30, 2018</h3>
            <h4>Doors at 6. Talks at 7.</h4>
            <a href="{{ site.tickets }}" class="btn btn-primary btn-xl">Grab Your Tickets!</a>
            <p>
              <br>
              Join us at <a style="color: white; text-decoration: underline;" href="http://www.roxysdowntown.com/">Roxy's Downtown</a> for an evening of random lightning talks, food, drinks, and to celebrate the ideas of our neighbors!<br><br>Grab your tickets soon because space is limited!
            </p>
            <div class="text-center">
              <p style="font-size: 0.75em;">Everyone helping to organize Wichitalks volunteers their time. All proceeds help cover the venue costs, video editing, photography, marketing, and miscellaneous event costs that contribute to a successful evening experience.</p>
            </div>
          -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
