<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img src="../img/WichiTalks_Logo_WhiteOnDark.png" class="img-responsive" style="padding-top: 1em;" alt="Wichitalks"></h1>
            <p>{{ site.slogan }}</p>
            <!-- <a href="{{ site.tickets }}" class="btn btn-primary btn-xl">Grab Your Tickets!</a> -->
            <!-- <a href="/speaker-application" class="btn btn-primary btn-xl" style="margin: 0.5em;">Apply To Present!</a> -->
        </div>
    </div>
</header>
