<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img src="../img/WichiTalks_Logo_WhiteOnDark.png" class="img-responsive" style="padding-top: 1em;" alt="Wichitalks"></h1>
            <p>{{ site.slogan }}</p>

            <!-- Insert Email Signup Link Here -->
            <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">

              </style>
              <div id="mc_embed_signup" class="mc_embed_signup_homepage_styling">
                  <form action="//wichitalks.us14.list-manage.com/subscribe/post?u=9bee36d279ae536f6069559f7&amp;id=be34ddd4bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                          <div class="mc-field-group">
                              <input type="email" value="" placeholder="EMAIL ADDRESS" name="EMAIL" class="email" id="mce-EMAIL">
                          </div>
                          <div class="mc-homepage-subscribe"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                          <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>
                          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9bee36d279ae536f6069559f7_be34ddd4bc" tabindex="-1" value=""></div>
                      </div>
                  </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='number';fnames[4]='MMERGE4';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->

        </div>
    </div>
</header>
