<section id="previous-speakers" class="list">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Watch Previous Wichitalks</h2>
          <hr class="primary">
          <ul>
          {% for post in site.posts %}
            <a href="{{ post.url }}">
              <li class="previous col-lg-3">
                <!-- might make this an inline style background image <img src='{{ post.image }}'> -->
                {{ post.title }}
              </li>
            </a>
          {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</section>
