<!-- jQuery -->
<script src="../js/jquery.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> <!-- For random post generator -->

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../js/jquery.easing.min.js"></script>
<script src="../js/jquery.fittext.js"></script>
<script src="../js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/creative.js"></script>

<!-- Custom Javascript -->
<script src="../js/randomPost.js"></script>

<script type="text/javascript" src="../js/copyToClipboard.js"></script>
