<section class="bg-primary" id="speakers">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2>Speaking Applications are CLOSED!</h2>
                <p style="padding-top: 10px;">for</p>
                <h3>Wichitalks at Roxy's</h3>
                <p>March 30, 2018</p>
                <hr class="light">
                <!-- Standby for speaker announcement -->

                <p>
                    Speaking applications have closed and we're really excited for all of the applicants. Thank you to everyone who applied. We'll be notifying you shortly whether you've been accepted to speak at Wichitalks.<br><br>

                    All of the speakers will be publicly announced March 2nd.<br><br>

                    We're really excited about this one.
                </p>
                <a href="{{ site.tickets }}" class="btn btn-default btn-xl page-scroll">Grab your tickets!</a>








                <!-- Speaker Application copy -->


                <!-- <p>
                    We’re looking to surface unique perspectives, passion projects, and compelling stories that can add value to our community but currently live under the radar in your mind, your favorite coffee shop, or your favorite conversation.
                    <br>
                    <br>
                    What you do within the guidelines is wide open to creative interpretation. 
                    <br>
                    <br>
                    If you’re not sure your presentation idea is the kind that will be accepted, we encourage you to apply anyway. We’ll give you feedback to help you fine tune your application. The deadline to apply is Febuary 20th!
                </p> -->


                <!-- Apply to present button -->
                <!-- <a href="/speaker-application.html" class="btn btn-default btn-xl page-scroll">Apply to Present!</a> -->

            </div>

        </div>
    </div>
</section>
