<section class="no-padding" id="speakers">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.twitter.com/austinmcrane" target="_blank" class="portfolio-box">
                    <img src="img/20160916/austinCrane.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Austin Crane<br>on
                            </div>
                            <div class="project-name">
                                Silicon Prairie - Amber Waves Of Tech
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.instagram.com/BaiBryand/" target="_blank" class="portfolio-box">
                    <img src="img/20160916/baileyBryand.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bailey Bryand<br>on
                            </div>
                            <div class="project-name">
                                Choose A Passion Over A Paycheck
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.caricashon.com/" target="_blank" class="portfolio-box">
                    <img src="img/20160916/cariAnneCashon.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cari Anne Cashon<br>on
                            </div>
                            <div class="project-name">
                                Wise Up! The Value of Actively Seeking Wisdom and Knowledge
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://facebook.com/claus.amaro" target="blank" class="portfolio-box">
                    <img src="img/20160916/claudiaYaujarAmaro.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Claudia Yaujar-Amaro<br>on
                            </div>
                            <div class="project-name">
                                Melting Walls and Defining an Identity
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/Prof_BakerICT" target="_blank" class="portfolio-box">
                    <img src="img/20160916/edBaker.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ed Baker<br>on
                            </div>
                            <div class="project-name">
                                Local Invention with Global Intention
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/christopher.gulick.3" target="_blank" class="portfolio-box">
                    <img src="img/20160916/christopherGulick.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Christopher Gulick<br>on
                            </div>
                            <div class="project-name">
                                When you go on vacation…do NOT buy artwork
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/in/suzanna-mathews-47692a12" target="_blank" class="portfolio-box">
                    <img src="img/20160916/suzannaMathews.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Suzanna Mathews<br>on
                            </div>
                            <div class="project-name">
                                Dates on the Plains
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/thahairfairy" target="_blank" class="portfolio-box">
                    <img src="img/20160916/tanishaAlexander.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tanisha Alexander<br>on
                            </div>
                            <div class="project-name">
                                I Get Tired, But I Don't Stop!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://facebook.com/makethistownbig" target="_blank" class="portfolio-box">
                    <img src="img/20160916/timothyOBryhim.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Timothy O'Bryhim<br>on
                            </div>
                            <div class="project-name">
                                Foreign Guys in Short Shorts - The Soccer Team That Put Wichita On the Map
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-lg-offset-4 col-sm-6">
                <a href="https://www.facebook.com/tristan.neth" target="_blank" class="portfolio-box">
                    <img src="img/20160916/tristanNeth.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tristan Neth<br>on
                            </div>
                            <div class="project-name">
                                The Big Business of Small Business - Opportunity in the ICT
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>