<section class="no-padding" id="speakers">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/concretecallen" class="portfolio-box">
                    <img src="img/portfolio/chris_callen.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chris Callen<br>on
                            </div>
                            <div class="project-name">
                                Rethink Construction Talent and Technology
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/jethrovision" class="portfolio-box">
                    <img src="img/portfolio/brandon_tull.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Brandon Tull<br>on
                            </div>
                            <div class="project-name">
                                Learn, Love, and Leave a Legacy
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/JenWhiteICT" class="portfolio-box">
                    <img src="img/portfolio/jennifer_white.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jennifer White<br>on
                            </div>
                            <div class="project-name">
                                Changing the World for a Kid Through Volunteering
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/jklinger410" class="portfolio-box">
                    <img src="img/portfolio/joshua_klinger.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Joshua Klinger<br>on
                            </div>
                            <div class="project-name">
                                Search and Net Neutrality
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/kelsey_ryan" class="portfolio-box">
                    <img src="img/portfolio/kelsey_ryan.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kelsey Ryan<br>on
                            </div>
                            <div class="project-name">
                                Digging Into Data
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/mikelbowyer" class="portfolio-box">
                    <img src="img/portfolio/mikel_bowyer.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mikel Bowyer<br>on
                            </div>
                            <div class="project-name">
                                Chew First, Then Swallow Your Pride
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/WichiSam" class="portfolio-box">
                    <img src="img/portfolio/sam_foreman.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sam Foreman<br>on
                            </div>
                            <div class="project-name">
                                Becoming the Opportunity Capital
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/shannon.dykman" class="portfolio-box">
                    <img src="img/portfolio/shannon_dykman.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shannon Dykman<br>on
                            </div>
                            <div class="project-name">
                                P^2 = Passion x Poptarts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/jiiimbot" class="portfolio-box">
                    <img src="img/portfolio/jim_rice.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jim Rice<br>on
                            </div>
                            <div class="project-name">
                                Building Games Builds Wichita
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-lg-offset-4">
                <a href="https://www.linkedin.com/in/aanderson3" class="portfolio-box">
                    <img src="img/portfolio/lamont_anderson.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lamont Anderson<br>on
                            </div>
                            <div class="project-name">
                                Be Like Wonka
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
