<section class="no-padding" id="speakers">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/alex.pemberton.14" target="_blank" class="portfolio-box">
                    <img src="img/20160607/alex_pemberton.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Alex Pemberton<br>on
                            </div>
                            <div class="project-name">
                                The Heart of Wichita
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://mrnaturalsoulkitchen.com/" target="_blank" class="portfolio-box">
                    <img src="img/20160607/donnie_hutchins.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Donnie Hutchins<br>on
                            </div>
                            <div class="project-name">
                                Talent retention in the ICT
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jennyawiley.com" target="_blank" class="portfolio-box">
                    <img src="img/20160607/jenny_wiley.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jenny Wiley<br>on
                            </div>
                            <div class="project-name">
                                Finding Yourself in Space
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/kimengineers" target="blank" class="portfolio-box">
                    <img src="img/20160607/kim_burton.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kim Burton<br>on
                            </div>
                            <div class="project-name">
                                Wild & Free Books
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/infernocloud" target="_blank" class="portfolio-box">
                    <img src="img/20160607/michael_neth.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Michael Neth<br>on
                            </div>
                            <div class="project-name">
                                EVERYTHING IS BROKEN (and we can fix it!)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://quickdrawstud.io/" target="_blank" class="portfolio-box">
                    <img src="img/20160607/nicolas_gallo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nicolas Gallo<br>on
                            </div>
                            <div class="project-name">
                                Earthbound, I love you!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/wichitaesports" target="_blank" class="portfolio-box">
                    <img src="img/20160607/ramsey_jamoul.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ramsey Jamoul<br>on
                            </div>
                            <div class="project-name">
                                Gg cya, brb 2 irl
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/Anthroisms" target="_blank" class="portfolio-box">
                    <img src="img/20160607/turquoise_thomas.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Torquoise Thomas<br>on
                            </div>
                            <div class="project-name">
                                Adults are Obsolete Children - Cultural Eyesores and YOU([r] inner Child[ren])
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/ictchess" target="_blank" class="portfolio-box">
                    <img src="img/20160607/zack_gaylord.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Zack Gingrich-Gaylord<br>on
                            </div>
                            <div class="project-name">
                                Life is Easy, Chess is Hard
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.eventbrite.com/e/wichitalks-riverfest-tickets-24929897996?aff=eac2" target="_blank" class="portfolio-box">
                    <img src="img/20160607/bryan_elmore.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bryan Elmore<br>on
                            </div>
                            <div class="project-name">
                                Embrace Your Multiple Personalities
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/JKDesignICT" target="_blank" class="portfolio-box">
                    <img src="img/20160607/janelle_king.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Janelle King<br>on
                            </div>
                            <div class="project-name">
                                FlagSwag Mania!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.linkedin.com/in/karl-watson-831679119" target="_blank" class="portfolio-box">
                    <img src="img/20160607/karl_watson.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Karl Watson<br>on
                            </div>
                            <div class="project-name">
                                Trust Through Code aka That Thing (totally un)Like The Interwebs
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/kentonh" target="_blank" class="portfolio-box">
                    <img src="img/20160607/kenton_hansen.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kenton Hansen<br>on
                            </div>
                            <div class="project-name">
                                Collaboration vs Competition
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/seancamore" target="_blank" class="portfolio-box">
                    <img src="img/20160607/sean_amore.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sean Amore<br>on
                            </div>
                            <div class="project-name">
                                The Toretto Legacy: Family, Social Responsibility, Massive Explosions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/thomasstanley" target="_blank" class="portfolio-box">
                    <img src="img/20160607/thomas_stanley.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Thomas Stanley<br>on
                            </div>
                            <div class="project-name">
                                How To Run 100 Miles In 20 Hours
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-lg-offset-4">
                <a href="https://twitter.com/emceeglory" target="_blank" class="portfolio-box">
                    <img src="img/SpeakerPromoImage.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jessica McGlory<br>on
                            </div>
                            <div class="project-name">
                                - TBA -
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
