<section class="bg-primary" id="speakers">
    <div class="container-fluid">
        <div class="row no-gutter text-center">
            <h2>Speaking Applications are Open!</h2>
            <p style="padding-top: 10px;">for</p>
            <h3>Wichitalks Riverfest</h3>
            <hr class="light">
            <p>
                Please apply if you are passionate about something, anything at all.<br>
                Even if your slides have absolutely no correlation to your presentation,<br>
                if you have one slide repeating 20 times, or you want to act or perform something creative.<br>
                You don't even have to say anything, as long as there is some sort of message.<br><br>
                The guidelines are wide open to creative interpretation.<br><br>
                If you have any question or are unclear about if what you want to do will be accepted, apply anyway.<br>
                We'll give you feedback on whether it fits or if you need to fine tune your application.
            </p>

            <a href="http://goo.gl/forms/RDW4KonivO" target="_blank" class="btn btn-default btn-xl page-scroll">Apply to Present!</a>
        </div>
    </div>
</section>
