<section class="bg-primary" id="speakers">
    <div class="container-fluid">
        <div class="row no-gutter text-center">
            <h2>Thank You for Supporting</h2>
            <h3>Wichitalks Riverfest</h3>
            <hr class="light">
            <p>
              Please make a check or card donation by stopping by or mailing to The Labor Party.<br><br>
              216 N Mosley St<br>
              Wichita, KS 67202<br><br>
              Make checks payable to:<br>
              Wichita Educational Foundation<br>
              MEMO: Wichitalks<br><br>
              You can contact us at wichitalks@gmail.com<br><br>
              Everyone helping to organize Wichitalks volunteers their time.<br>
              All proceeds help cover the venue costs, video editing, photography, marketing, and help fund other Startup Wichita community events.
        </div>
    </div>
</section>
