<section>
	<!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Thank You Sponsors and Donors!</h2>
                <hr class="primary">
            </div>
        </div>
    </div> -->
    <div class="container">
    	<div class="row">
    		<div class="col-lg-3 col-md-3 col-sm-3 text-center">
    			<a href="http://applesandarrows.com/" target="_blank">
    				<img src="img/sponsors/ApplesAndArrows/apples_and_arrows.png" class="img-responsive" style="padding-top: 8em; padding-bottom: 8em;">
    			</a>
    		</div>
    		<div class="col-lg-3 col-md-3 col-sm-3 text-center">
    			<a href="http://www.centralstandardbrewing.com/" target="_blank">
    				<img src="img/sponsors/CentralStandardBrewing/csb_wheat_BADGE-transparent.png" class="img-responsive" style="padding-top: 1em;">
    			</a>
    		</div>
    		<div class="col-lg-3 col-md-3 col-sm-3 text-center">
    			<a href="http://www.kshof.org/" target="_blank">
    				<img src="img/sponsors/WichitaBoathouse/KSsportsCLR-3.jpg" class="img-responsive">
    			</a>
    		</div>
    		<div class="col-lg-3 col-md-3 col-sm-3 text-center">
    			<a href="http://wichitachamber.org/" target="_blank">
    				<img src="img/sponsors/WichitaChamberOfCommerce/WMCC_RGB_vrt_logo-MEDIUM.jpg" class="img-responsive">
    			</a>
    		</div>
    	</div>
    </div>
</section>