<section id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsor Wichitalks</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-quarter wow bounceIn text-primary"></i>
                    <h3>Tripodal</h3>
                    <h4>$250</h4>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Dedicated Slide on Opening Slide Deck</li>
                            <li>One Social Media Shout-Out Leading up to Wichitalks via <a href="https://twitter.com/wichitalks" target="_blank">Wichitalks</a> and <a href="https://twitter.com/startupwichita" target="_blank">Startup Wichita</a></li>
                            <li>2 Reserved Seats</li>
                            <li>On Stage Thank You</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 50px; padding-bottom: 50px;">
                        <a href="/sponsor-wichitalks.html" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-half wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Paragon</h3>
                    <h4>$500</h4>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Everything in the Tripodal package plus:</li>
                            <li>Logo Displayed on Videos as a Sponsor (alongside other sponsors)</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 90px; padding-bottom: 50px;">
                        <a href="/sponsor-wichitalks.html" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-three-quarters wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Wind Spirit Gateway</h3>
                    <h4>$1000</h4>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Everything in the Paragon package plus:</li>
                            <li>Logo Displayed on Website Through Event Cycle</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 110px; padding-bottom: 50px;">
                        <a href="/sponsor-wichitalks.html" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-full wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Keeper of the Plains</h3>
                    <h4>$2500</h4>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Everything in the Wind Spirit Gateway package plus:</li>
                            <li>Logo Displayed on Videos as a Sponsor (single logo screen)</li>
                            <li>Logo Displayed on our Step-and-Repeat Banner</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 70px; padding-bottom: 50px;">
                        <a href="/sponsor-wichitalks.html" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
