<section>
    <div class="container">
    	<div class="row">
    		<div class="col-lg-1 col-md-1 col-sm-1">
    			<a href="http://applesandarrows.com/" target="_blank">
    				<img src="img/sponsors/ApplesAndArrows/apples_and_arrows.png" class="img-responsive sponsor">
    			</a>
    		</div>
    		<div class="col-lg-1 col-md-1 col-sm-1">
    			<a href="http://www.centralstandardbrewing.com/" target="_blank">
    				<img src="img/sponsors/CentralStandardBrewing/csb_wheat_BADGE-transparent.png" class="img-responsive sponsor">
    			</a>
    		</div>
    		<div class="col-lg-1 col-md-1 col-sm-1">
    			<a href="http://www.kshof.org/" target="_blank">
    				<img src="img/sponsors/WichitaBoathouse/KSsportsCLR-3.jpg" class="img-responsive sponsor">
    			</a>
    		</div>
    		<div class="col-lg-1 col-md-1 col-sm-1">
    			<a href="http://wichitachamber.org/" target="_blank">
    				<img src="img/sponsors/WichitaChamberOfCommerce/WMCC_RGB_vrt_logo-MEDIUM.jpg" class="img-responsive sponsor">
    			</a>
    		</div>
    	</div>
    </div>
</section>