<section class="bg-primary">
    <div class="container-fluid">
        <div class="row no-gutter text-center col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <h2>Thank You for Supporting</h2>
            <h3>Wichitalks!</h3>
            <hr class="light">
            <p>
              Please contact us to discuss how your support will move Wichitalks forward.<br><br>
              You can contact us at <a href="mailto:sponsor@wichitalks.com" style="color: white;">sponsor@wichitalks.com</a><br><br>
              Everyone helping to organize Wichitalks volunteers their time.<br>
              All proceeds help cover the venue costs, video editing, photography, marketing, and misc event costs that contribute to a successful evening experience.
        </div>
    </div>
</section>
