<section id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsor the Next Wichitalks</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-quarter wow bounceIn text-primary"></i>
                    <h3>$250</h3>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Dedicated Slide on Opening Slide Deck</li>
                            <li>One Social Media Shout-Out Leading up to Wichitalks</li>
                            <li>2 Reserved Seats</li>
                            <li>On Stage Thank You</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 50px; padding-bottom: 50px;">
                        <a href="#events" class="btn btn-primary btn-xl page-scroll">$250</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-half wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>$500</h3>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Dedicated Slide on Opening Slide Deck</li>
                            <li>Four Social Media Shout-Outs Leading up to Wichitalks</li>
                            <li>4 Reserved Seats</li>
                            <li>On Stage Thank You</li>
                            <li>Logo Displayed on Videos as a Sponsor (alongside other sponsors)</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 50px; padding-bottom: 50px;">
                        <a href="#events" class="btn btn-primary btn-xl page-scroll">$500</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-three-quarters wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>$1000</h3>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Dedicated Slide on Opening Slide Deck</li>
                            <li>Weekly Social Media Shout-Outs Leading up to Wichitalks</li>
                            <li>6 Reserved Seats</li>
                            <li>On Stage Thank You</li>
                            <li>Logo Displayed on Videos as a Sponsor (alongside other sponsors)</li>
                            <li>Logo Displayed on Website Through Event Cycle</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 50px; padding-bottom: 50px;">
                        <a href="#events" class="btn btn-primary btn-xl page-scroll">$1000</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battery-full wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>$2500</h3>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Dedicated Slide on Opening Slide Deck</li>
                            <li>Weekly Social Media Shout-Outs Leading up to Wichitalks</li>
                            <li>6 Reserved Seats</li>
                            <li>On Stage Thank You</li>
                            <li>Logo Displayed on Videos as a Sponsor (single logo screen)</li>
                            <li>Logo Displayed on Website Through Event Cycle</li>
                            <li>Logo Displayed on our Step-and-Repeat Banner</li>
                        </ul>
                    </p>
                    <div class="text-center" style="padding-top: 50px; padding-bottom: 50px;">
                        <a href="#events" class="btn btn-primary btn-xl page-scroll">$2500</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
