<section id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsor Wichitalks</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fw fw-4x wow bounceIn text-primary" style="font-family: WichiTalksTTF;">g</span>
                    <h3>Tripodal</h3>
                    <h4>$250</h4>
                    <p> 
                        <ul class="text-left text-muted">
                            <li>Dedicated Slide on Opening Slide Deck</li>
                            <li>One Social Media Shout-Out Leading up to Wichitalks via <a href="https://twitter.com/wichitalks" target="_blank">Wichitalks</a></li>
                            <li>2 Reserved Seats</li>
                            <li>On Stage "Thank You"</li>
                            <li>1 Event Cycle</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fw fw-4x wow bounceIn text-primary" style="font-family: WichiTalksTTF;" data-wow-delay=".1s">f</span>
                    <h3>Paragon</h3>
                    <h4>$500</h4>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Everything in the Tripodal package plus:</li>
                            <li>4 Reserved Seats</li>
                            <li>Logo Displayed on Videos as a Sponsor (alongside other sponsors)</li>
                            <li>2 Event Cycles</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fw fw-4x wow bounceIn text-primary" style="font-family: WichiTalksTTF;" data-wow-delay=".2s">e</span>
                    <h3>Wind Spirit Gateway</h3>
                    <h4>$1000</h4>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Everything in the Paragon package plus:</li>
                            <li>6 Reserved Seats</li>
                            <li>Logo Displayed on Website Through Event Cycle</li>
                            <li>3 Event Cycles</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <span class="fw fw-4x wow bounceIn text-primary" style="font-family: WichiTalksTTF;" data-wow-delay=".3s">d</span>
                    <h3>Keeper of the Plains</h3>
                    <h4>$2500</h4>
                    <p>
                        <ul class="text-left text-muted">
                            <li>Everything in the Wind Spirit Gateway package plus:</li>
                            <li>Logo Displayed on Videos as a Sponsor (single logo screen)</li>
                            <li>Logo Displayed on our Step-and-Repeat Banner</li>
                            <li>4 Event Cycles</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
