<section class="bg-primary" id="volunteer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Volunteer!</h2>
                <hr class="light">
                <p class="text-faded">
                    Would you enjoy greeting everyone as they come in, to be their first interaction with Wichitalks?<br>
                    Would you enjoy helping us set up the venue?<br>
                    Do you have no idea what you can do, but just have this burning desire to volunteer?<br><br>
                    <strong>Please Join Our Team!</strong><br><br>
                    Wichitalks is a community-driven event, so its success relies on the awesome volunteers in Wichita.<br> Just reach out to us via social media or email.
                </p>
                <a href="mailto:volunteer@wichitalks.com" class="btn btn-default btn-xl">volunteer@wichitalks.com</a>
            </div>
        </div>
    </div>
</section>
