<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav-internal.html %}
  <header style="position: fixed; z-index: -5;"></header>
  <article style="padding-top: 50px;" class="container-fluid">
		{% assign sorted = site.blog | sort: 'date' | reverse %}
     	{% for blog in sorted %}
        {% if blog.published == false %}
          {% continue %}
        {% endif %}
        <div class="reading col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
       		<section id="{{ blog.anchor }}" class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
				    <h2>{{ blog.title}}</h2>
            <p title="click to copy" class="copy-to-clipboard" onclick="copyToClipboard('<span>https://wichitalks.com/blog#{{blog.anchor}}</span>')" style="text-align: right; font-size: 0.75em; color: grey;">wichitalks.com/blog#{{blog.anchor}}</p> <!-- I had to wrap the argument in a <span> to 'wake up' the liquid syntax so that it would render properly. -->
				    <p>{{ blog.content }}</p>
				    <br>
            <p style="color: grey; font-size: 0.75em; text-align: center;">{{ blog.author }}{% if blog.author %} | {% endif %}{{ blog.date | date_to_long_string }}</p><br>
            <span style="font-size: 0.75em;">Stay included by signing up for our <a href="http://wichitalks.us14.list-manage.com/subscribe?u=9bee36d279ae536f6069559f7&id=be34ddd4bc">newsletter</a> or following us on the <a href="https://facebook.com/wichitalks">web</a>. The greatest compliment you can give us is by letting your friends and family know about us as well as sharing these ideas and inspiring each other to keep giving back to our community.</span>
				    <hr>
          </section>
        </div>
     	{% endfor %}
  </article>
  {% include events.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
