<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav-internal.html %}
<header>
  <article style="padding-top: 50px;">
    <div>
      <h3>{{ page.speaker }}</h3><hr><h2>{{ page.title }}</h2>
      <span>
        <i class="icon-clock"></i>
        <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time>
      </span>
      <br/>
      <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/>
      <span class="author"><i class="icon-user"></i>
        {% if page.author %}
          {{page.author}}
        {% else %}
          {{site.author}}
        {% endif%}
      </span>
    </div>

  </article>
  {% if page.video %}
    <div class='embed-container'>
      <iframe src='https://www.youtube.com/embed/{{ page.video }}' frameborder='0' allowfullscreen></iframe>
    </div>
  {% else %}
    <hr class="light">
    <div>
      <h1>Video Coming Soon</h1>
    </div>
    <hr class="light">
  {% endif %}

  <section class="bg-dark" id="events">
    <div class="container text-center">
      <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
        <p>
          {{ page.about }}<br><br>
          <strong>Favorite Thing About Wichita:</strong><br>
          <i>“{{ page.favorite }}”</i><br><br>
          <strong>Contact:</strong><br>
          {% if page.twitter %}
            <a href="https://twitter.com/{{ page.twitter }}" target="_blank">
              <i class="fa fa-twitter wow bounceIn text-primary" data-wow-delay=".1s"></i>
              @{{ page.twitter }}
            </a><br>
          {% endif %}
          {% if page.facebook %}
            <a href="https://facebook.com/{{ page.facebook }}" target="_blank">
              <i class="fa fa-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
              {{ page.facebook }}
            </a><br>
          {% endif %}
          {% if page.instagram %}
            <a href="https://www.instagram.com/{{ page.instagram }}" target="_blank">
              <i class="fa fa-instagram wow bounceIn text-primary" data-wow-delay=".1s"></i>
              {{ page.instagram }}
            </a><br>
          {% endif %}
          {% if page.linkedin %}
            <a href="https://linkedin.com/in/{{ page.linkedin }}" target="_blank">
              <i class="fa fa-linkedin wow bounceIn text-primary" data-wow-delay=".1s"></i>
              {{ page.linkedin }}
            </a><br>
          {% endif %}
          {% if page.google %}
            <a href="https://plus.google.com/+{{ page.google }}" target="_blank">
              <i class="fa fa-google-plus wow bounceIn text-primary" data-wow-delay=".1s"></i>
              {{ page.google }}
            </a><br>
          {% endif %}
          {% if page.website %}
            <a href="http://{{ page.website }}" target="_blank">
              <i class="fa fa-home wow bounceIn text-primary" data-wow-delay=".1s"></i>
              {{ page.website }}
            </a><br>
          {% endif %}
          {% if page.email %}
            <a href="mailto:{{ page.email }}" target="_blank">
              <i class="fa fa-envelope wow bounceIn text-primary" data-wow-delay=".1s"></i>
              {{ page.email }}
            </a><br>
          {% endif %}
          {% if page.telephone %}
            <a href="tel:{{ page.telephone }}" target="_blank">
              <i class="fa fa-phone wow bounceIn text-primary" data-wow-delay=".1s"></i>
              {{ page.telephone }}
            </a><br>
          {% endif %}
        </p>
      </div>
    </div>
  </section>

</header>
  {% include previous-speakers-front.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
