<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav-internal.html %}
<header>
  <article style="padding-top: 50px;">
    <div>
      <div class="container text-center">
        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
          <img src="{{ page.image }}" class="img-circle img-responsive" style="padding-top: 2em;">
        </div>
      </div>
      <h3>{{ page.speaker }}</h3><hr><h2>{{ page.title }}</h2>
      <br/>
      <span class="author"><i class="icon-user"></i>
        {% if page.author %}
          {{page.author}}
        {% else %}
          {{site.author}}
        {% endif%}
      </span>
    </div>

  </article>
  {% if page.video %}
    <div class='embed-container'>
      <iframe src='https://www.youtube.com/embed/{{ page.video }}' frameborder='0' allowfullscreen></iframe>
    </div>
  {% else %}
    <div class="container text-center" style="padding-bottom: 2em;">
      <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
        <p>{{ page.speaker }}'s video will be posted soon! In the meantime...</p>
        <a href="{{ site.tickets }}" target="_blank" class="btn btn-primary btn-xl page-scroll">Grab your tickets!</a>
      </div>
    </div>
  {% endif %}

  <section class="bg-dark">
    <div class="container text-center">
      <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
        <!-- <p> -->
          <p>{{ page.about | markdownify }}</p>
          <br>
          <strong>Favorite Thing About Wichita:</strong><br>
          <i style="font-size: 1.5em;">“{{ page.favorite }}”</i><br><br>
          <strong>Contact:</strong><br>
          <div class="contact-icons" style="font-size: 1.5em;">
            {% if page.twitter %}
              <a href="https://twitter.com/{{ page.twitter }}">
                <i class="fa fa-twitter wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;@{{ page.twitter }}
              </a><br>
            {% endif %}
            {% if page.facebook %}
              <a href="https://facebook.com/{{ page.facebook }}">
                <i class="fa fa-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;&nbsp;&nbsp;{{ page.facebook }}
              </a><br>
            {% endif %}
            {% if page.instagram %}
              <a href="https://www.instagram.com/{{ page.instagram }}">
                <i class="fa fa-instagram wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;{{ page.instagram }}
              </a><br>
            {% endif %}
            {% if page.linkedin %}
              <a href="https://linkedin.com/in/{{ page.linkedin }}">
                <i class="fa fa-linkedin wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;{{ page.linkedin }}
              </a><br>
            {% endif %}
            {% if page.google %}
              <a href="https://plus.google.com/+{{ page.google }}">
                <i class="fa fa-google-plus wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;{{ page.google }}
              </a><br>
            {% endif %}
            {% if page.website %}
              <a href="http://{{ page.website }}">
                <i class="fa fa-home wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;{{ page.website }}
              </a><br>
            {% endif %}
            {% if page.email %}
              <a href="mailto:{{ page.email }}">
                <i class="fa fa-envelope wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;{{ page.email }}
              </a><br>
            {% endif %}
            {% if page.telephone %}
              <a href="tel:{{ page.telephone }}">
                <i class="fa fa-phone wow bounceIn text-primary" data-wow-delay=".1s"></i>
                &emsp;{{ page.telephone }}
              </a>
            {% endif %}
        </div>
        <!-- </p> -->
      </div>
    </div>
  </section>

</header>
  {% include events.html %}
  {% include previous-speakers-front.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
